@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
}
header{
    width: auto;
    height: 920px;
    background-image: url('../img/blackman.png');
    background-size: auto 920px;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px 471px rgba(0, 0, 0, 0.25) inset;
}

header ul li{
    color: white;
    display: inline;
    list-style-type: none;
    font-family: 'Montserrat';
    font-size: 40px;
    margin-left: 91px;
    font-weight: 400;
    
}
header ul{
    position: absolute;
    top: 35px;

}
main{
    background-color: black;
    width: auto;
    height: 7032px;
}
.postav{
    width: 471px;
    color: white;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    position: absolute;
    top: 533px;
    left: 144px;
}
.citata{
    width: 331px;
    height: 137px; 
    color: white; 
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: "break-word";
    position: absolute;
    top: 616px;
    right: 212px;
}