@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-color: black;
}
header{
    width: auto;
    height: 920px;
    background-image: url('../img/blackman.png');
    background-size: auto 920px;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

header ul li{
    color: white;
    display: inline;
    list-style-type: none;
    font-family: 'Montserrat';
    font-size: 40px;
    margin-left: 91px;
    font-weight: 400;
    
}
header ul{
    position: absolute;
    top: 35px;

}
main{
    background-color: black;
    width: auto;
    height: 100%;
    

}
.postav{
    width: 471px;
    color: white;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    position: absolute;
    top: 533px;
    left: 144px;
}
.citata{
    width: 331px;
    height: 137px; 
    color: white; 
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: "break-word";
    position: absolute;
    top: 616px;
    right: 212px;
}
h2{
    margin-bottom: 0;
    margin-left: 809px;
    margin-top: 23px;
    width: 303px;
    height: 144px;
    color: white;
    font-size: 96px;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: "break-word";
}
.man_with_laptop{
    width: 742px;
    height: 462px;
    margin-left: 101px;
    margin-top: calc(290px - 144px - 23px);
}
.best_pr{
    margin-top: calc(290px - 144px - 23px);
    margin-right: 271px;
    margin-left: 1071px;
    color: white; font-size: 48px; font-family: Montserrat; font-weight: 700;
}
