@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
header{
   background-image: url('../img/blackman.png');
}

header ul li{
    display: inline;
    list-style-type: none;
    font-family: 'Montserrat';
}
header ul{
    margin-left: 190px;
}